$icon-font-path: '../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';

// bower:scss
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "octicons/octicons.scss";

html, body {
  margin: 0;
  height: 100%;
  background-color: #585;
}

i {
  &:nth-of-type(1) {
    color: #91FF9B;
    text-shadow: -1px -1px #544;
  }

  &:nth-of-type(2) {
    color: #91D1F9;
    text-shadow: -1px -1px #445;
  }
}

.page {
  &.container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
  min-width: 100%;
  min-height: 100%;
  position: relative;
  background: url("../images/mountain.jpg") no-repeat center center;
  background-size: cover;
}

.fade-box {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgba(50, 60, 40, .2);
  display: flex;
}

.content-box {
  width: 1000px;
  height: 500px;
  position: relative;
}

.hello {
  color: white;

  b {
    color: #FFF266;
  }
}

.bio {
  font-size: 18px;
  line-height: 30px;
  color: #FCFFD5;
  padding-top: 30px;
}

.links {
  font-size: 18px;
  line-height: 30px;
  padding: 20px  0 0 20px;
  display: flex;
  flex-direction: column;
  position: relative;

  a {
    color: white;
    display: block;
    margin: 5px 0;
  }

  img:hover, span:hover {
    filter: drop-shadow(0 0 10px black);
    -webkit-filter: drop-shadow(0 0 10px black);
  }
}

.linkedin {
  width: 100px;
}

.my-pic {
  width: 100%;
  border: 1px solid #A8A89F;
  border-radius: 20%;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  color: #343;
}

@media screen and (max-height: 700px), (max-width: 1000px) {
  footer {
    position: relative;
    text-align: center;
  }
}

@media screen and (max-width: 1000px) {
  .page {
    //background: #585;
  }

  .fade-box {
    flex-direction: column;
    align-items: center;
  }

  .links {
    position: relative;
    flex-direction: row;
    width: 100%;
    padding: 0;
    margin: 5px;
    justify-content: space-around;
  }

  .content-box {
    width: 100%;
    height: auto;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
  }

  .row {
    flex-direction: column;
  }

  .my-pic {
    width: 340px;
    height: 360px;
    position: relative;
  }

  .bio {
    margin: 0 20px;

    p {
      color: #C8E2CF;
    }
  }
}

@media screen and (min-width: 1000px) {
  .links {
    position: absolute;
  }

  .content-box {
    margin: auto;
    display: flex;
    position: relative;
    width: 1000px;
    height: 500px;
  }

  .my-pic {
    width: 340px;
    height: 360px;
    position: relative;
  }

  .bio {
    margin-left: 20px;
  }
}