<!doctype html>
<html class='view-frame'>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="Nick Jones"/>
<meta name="keywords" content="Nick,Jones,JavaScript,Computer Science,Java,CSS,Python,Robotics,Computer Vision,Artificial Intelligence"/>
<meta name="description" content="Nick Jones is a Computer Scientist, studying at Northeastern University."/>
<meta http-equiv="X-UA-Compatible" content="IE-edge">
<title>Home | Nick Jones</title>
</head>
<body class='view-frame'>
<div id='root' class='view-frame'></div>
</body>
</html>
