!!! 5

%html
	%head
		%title Nick Jones
		%link{ :rel => "stylesheet", :href => "/css/main.css" }
		%meta{ :name => "viewport", :content => "width=device-width, initial-scale=1" }
		%meta{ :name => "charset", :content => "UTF-8"}
		%meta{ :name => "description", :content => "My Resume"}
		%meta{ :name => "keywords", :content => "Computer Science, CS, Nick Jones, Jones, Resume"}
		%meta{ :name => "author", :content => "Nick Jones"}

	%body
		#building
			Under Construction!
		%header
			.container
				%ul
					%li
						item 1
					%li
						item 2
					%li
						item 3
		#main
			%section#section1
				.container
					#bioLeft
						%img#me{ :src => "/imgs/me.jpg", :alt => "Me"}
						.clear
						#info
							%h1#name Nick Jones
							%h3#occupation Software Engineer (In Training)
							%ul#icons
								%li
									%a{ :href => "https://github.com/njhazelh", :target => "_blank"}
										%img{ :src => "/imgs/GitHub-Mark-32px.png", :alt => "Github", :width => "32px", :height => "32px"}
								%li
									%a{ :href => "http://www.linkedin.com/pub/nicholas-jones/67/3a3/396", :target => "_blank"}
										%img{ :src => "/imgs/LinkedIn-InBug-2CRev.png", :alt => "LinkedIn", :width => "32px", :height => "32px"}
					#bioRight
						%p
							I have loved computers for as long as I could click a mouse (I remember playing Civilization II before I could even read.)  Throughout school, I attended Flash summer camps, tried web design, built computers, and desperately tried to learn how to program.
						%p
							In my Junior year of high school, I decided to take AP Computer Science.  I would call it one of the best decisions that I've ever made.  After realizing that coding was more play than work, I decided that when I went to college, I would be a Computer Scientist.
						%p
							These days, I am a sophomore at Northeastern University studying Computer Science with a Focus in Cyber Operations (Security).  I tutor the Fundamentals I CS class, and plan to fill as much time as possible with AI, robotics, and Computer Vision.  Call me mad, but I'd really like to work on space robots.
				.clear
			%section#section2
				.container
					%h2 Projects
					%ul
						%li Stuff
			%section#section3
				.container
					%h2 Work
					%ul
						%li
							%h3 Fundamental CS I Tutor
							%p Bad code everywhere!
						%li
							%h3 MathPower Tutor
							%p Helping the children!
						%li
							%h3 Lifeguard
							%p Desperately trying to stop people killing themselves.
					.clear
			%section#section4
				.container
					%h2 Awards
					%ul
						%li
							Dean's List 3 Semesters Running
						%li
							Eagle Scout
						%li
							1st Dan Black Belt in Tang Soo Do
						%li
							Top 10 at PA FBLA in Computer Related Fields
							%ul.dots
								%li 7th - Cyber Security
								%li 5th - Technology Concepts
								%li 1st - The Internet
								%li 6th - E-Business
			%section#section5
				.container
					%h2 Hobbies
					%ul.plain
						%li
							%h3 Skiing
							%p
								skiing stuff
						%li
							%h3 Martial Art
							%p
								Martial Art Stuff
						%li
							%h3 Manga/Anime
							%p
								Manga/Anime Stuff
						%li
							%h3 Programming
							%p
								Programming Stuff

		%footer
			.container
				#copyright &copy; Nicholas Jones
				#editDate #{Time.now}