!!! 5

%html
	%head
		%title Nick Jones
		%link{ :rel => "stylesheet", :href => "/css/main.css" }
		%meta{ :name => "viewport", :content => "width=device-width, initial-scale=1" }
	%body
		%header
			.container
				%ul
					%li
						item 1
					%li
						item 2
					%li
						item 3
		#main
			%section#section1
				.container
					%img{ :src => "/imgs/me.jpg", :alt => "Me"}
					Nick Jones
			%section#section2
				.container
					section2
			%section#section3
				.container
					section3
		%footer
			.container
				© Nicholas Jones  |  #{Time.now}