!!! 5

%html
	%head
		%title Nick Jones
		%link{ :rel => "stylesheet", :href => "/css/main.css" }
		%meta{ :name => "viewport", :content => "width=device-width, initial-scale=1" }
		%meta{ :name => "charset", :content => "UTF-8"}
		%meta{ :name => "description", :content => "My Resume"}
		%meta{ :name => "keywords", :content => "Computer Science, CS, Nick Jones, Jones, Resume"}
		%meta{ :name => "author", :content => "Nick Jones"}

	%body
		#building
			Under Construction!
		%header
			.container
				%ul
					%li
						item 1
					%li
						item 2
					%li
						item 3
		#main
			%section#section1
				.container
					%img{ :src => "/imgs/me.jpg", :alt => "Me"}
					%br
					#info
						%h1#name Nick Jones
						%h3#occupation Software Engineer
						%ul#icons
							%li 1
							%li 2
							%li 3
				.clear
			%section#section2
				.container
					%img{ :src => "/imgs/me.jpg", :alt => "Me"}
					%p
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut semper enim. Sed et orci rhoncus, pulvinar turpis sit amet, facilisis urna. Etiam nulla nisi, viverra sed vestibulum eu, feugiat vel leo. Pellentesque imperdiet lacinia quam, at vehicula massa varius vitae. In turpis enim, mattis ac purus et, ultrices pulvinar lectus. In hac habitasse platea dictumst. Praesent ligula lectus, interdum vel sodales at, sollicitudin non turpis. Quisque at interdum quam. Donec vitae ipsum condimentum, tincidunt turpis et, scelerisque est. In interdum magna metus, at mollis risus venenatis varius. Phasellus egestas risus at tortor pharetra interdum. Fusce quis felis ac est vehicula blandit. Nulla dolor sem, volutpat non libero in, volutpat commodo arcu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam rhoncus pulvinar mauris, nec sollicitudin risus consectetur in. Praesent consectetur commodo dui et tempor.
					%p
						Nullam in tortor ac enim condimentum laoreet. Suspendisse potenti. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse luctus est mauris, vitae ullamcorper justo dignissim ut. Etiam in imperdiet massa. Duis id lacus sed dolor gravida malesuada ut eu nibh. Phasellus dignissim orci quis ante gravida, ut scelerisque mi pharetra. Pellentesque neque nunc, pulvinar eu elit in, fermentum consectetur dui.
					.clear
			%section#section3
				.container
					%p
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut semper enim. Sed et orci rhoncus, pulvinar turpis sit amet, facilisis urna. Etiam nulla nisi, viverra sed vestibulum eu, feugiat vel leo. Pellentesque imperdiet lacinia quam, at vehicula massa varius vitae. In turpis enim, mattis ac purus et, ultrices pulvinar lectus. In hac habitasse platea dictumst. Praesent ligula lectus, interdum vel sodales at, sollicitudin non turpis. Quisque at interdum quam. Donec vitae ipsum condimentum, tincidunt turpis et, scelerisque est. In interdum magna metus, at mollis risus venenatis varius. Phasellus egestas risus at tortor pharetra interdum. Fusce quis felis ac est vehicula blandit. Nulla dolor sem, volutpat non libero in, volutpat commodo arcu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam rhoncus pulvinar mauris, nec sollicitudin risus consectetur in. Praesent consectetur commodo dui et tempor.
					%p
						Nullam in tortor ac enim condimentum laoreet. Suspendisse potenti. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse luctus est mauris, vitae ullamcorper justo dignissim ut. Etiam in imperdiet massa. Duis id lacus sed dolor gravida malesuada ut eu nibh. Phasellus dignissim orci quis ante gravida, ut scelerisque mi pharetra. Pellentesque neque nunc, pulvinar eu elit in, fermentum consectetur dui.
		%footer
			.container
				#copyright &copy; Nicholas Jones
				#editDate #{Time.now}