!!! 5

%html
	%head
		%title Nick Jones
		%link{ :rel => "Stylesheet", :href => "css/main.css"}
	%body
		%header
			.container
				Welcome
				%ul
					%li
						item 1
					%li
						item 2
					%li
						item 3
		#main
			%section#section1
				.container
					section1
			%section#section2
				.container
					section2
			%section#section3
				.container
					section3
		%footer
			.container
				© Nicholas Jones | #{Time.now}