!!! 5

%html
	%head
		%title Nick Jones
		%link{ :rel => "stylesheet", :href => "/css/main.css" }
		%meta{ :name => "viewport", :content => "width=device-width, initial-scale=1" }
		%meta{ :name => "charset", :content => "UTF-8"}
		%meta{ :name => "description", :content => "My Resume"}
		%meta{ :name => "keywords", :content => "Computer Science, CS, Nick Jones, Jones, Resume"}
		%meta{ :name => "author", :content => "Nick Jones"}

	%body
		%header
			.container
				%ul
					%li
						item 1
					%li
						item 2
					%li
						item 3
		#main
			%section#section1
				.container
					#bioLeft
						%img#me{ :src => "/imgs/me.jpg", :alt => "Me"}
						.clear
						#info
							%h1#name
								Nick Jones
							%h3#occupation
								Software Engineer
								%br
								(beta release)
							%ul#icons
								%li
									%a{ :href => "https://github.com/njhazelh", :target => "_blank"}
										%img{ :src => "/imgs/GitHub-Mark-32px.png", :alt => "Github", :width => "32px", :height => "32px"}
								%li
									%a{ :href => "http://www.linkedin.com/pub/nicholas-jones/67/3a3/396", :target => "_blank"}
										%img{ :src => "/imgs/LinkedIn-InBug-2CRev.png", :alt => "LinkedIn", :width => "32px", :height => "32px"}
					#bioRight
						%p
							I'm Nick Jones, a British-born American (American-grown Englishman?) majoring in Computer Science at Northeastern University in Boston.  I ski, lift weights, practice martial arts, watch anime, and program in my free time.  One day, I hope to design complex robotic systems that aid extraterrestrial human development, but for the moment, I'm focusing on learning as much as possible and developing my experience with computer systems.  I hope you enjoy my site.
				.clear
			%section#section2
				.container
					%h2 Projects
					%ul
						%li AutoDorm
						%li PictureZoo
						%li This site
			%section#section3
				.container
					%h2 Work
					%ul
						%li
							%h3 Fundamental CS I Tutor
							%p Bad code everywhere!
						%li
							%h3 MathPower Tutor
							%p Helping the children!
						%li
							%h3 Lifeguard
							%p Desperately trying to stop people killing themselves.
					.clear
			%section#section4
				.container
					%h2 Awards
					%ul.dots
						%li
							Dean's List 3 Semesters Running
						%li
							Eagle Scout
						%li
							1st Dan Black Belt in Tang Soo Do
						%li
							Top 10 at PA FBLA in Computer Related Fields
							%ul.dots
								%li 7th - Cyber Security
								%li 5th - Technology Concepts
								%li 1st - The Internet
								%li 6th - E-Business
			%section#section5
				.container
					%h2 Hobbies
					%ul.plain
						%li
							%h3 Skiing
							%p
								skiing stuff
						%li
							%h3 Martial Art
							%p
								Martial Art Stuff
						%li
							%h3 Manga/Anime
							%p
								Manga/Anime Stuff
						%li
							%h3 Programming
							%p
								Programming Stuff

		%footer
			.container
				#copyright &copy; Nicholas Jones
				#editDate #{Time.now}