@import "compass";
@import "compass/reset";

$black: #151515;
$white: #F0F0F0;
$blue: #167FAB;
$green: #3A3;
$yellow: #E8B72D;
$red: #C2322D;

$section1Color: $red;
$section2Color: $green;
$section3Color: $yellow;
$section4Color: $white;
$section5Color: $blue;

$font-stack: Arial, Helvetica, sans-serif;

h1 {
	font-size: 2.5em;
	font-weight: bold;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.25em;
}

p {

}

header {
	display: none;
}

#building {
	position: fixed;
	color: yellow;
	z-index: 20;
	margin: 0 auto;
	top: 0px;
	left: 0px;
	height: 30px;
	padding: 10px;
	line-height: 30px;
	vertical-align: middle;
	font-size: 1.5em;
	font-family: $font-stack;
	text-transform: uppercase;
}

/*
 * Mobile
 * 0 - 529px
 */
@media only screen and (max-width: 650px) {
	$width: 100%;
	$font-size: 18px;

	img {
		margin: 0 auto;
		display: block;
	}

	.clear {
		visibility: hidden;
	}

	header, section, footer {
		width: $width;
		background-color:cyan;
		font-family: $font-stack;
		font-size: $font-size;

		.container {
			width: $width;
			position: relative;
		}
	}

	header {
		position:fixed;
		visibility: hidden;
	}

	section {
		min-height: 200px;
		padding: 50px 0;
		position: relative;

		ul {
			margin: 20px 0 0 20px;

			li {
				margin: 10px 0;
			}
		}

		ul.dots {
			list-style-type: circle;
		}

		ul.plain {
			list-style-type: none;
		}

		p {
			line-height: 1.5em;
			letter-spacing: .025em;
			word-spacing: .1em;
			margin: 2em 1em;
			text-indent: 3em;
		}

		&#section1 {
			background-color: #c22;
			color: $black;

			img#me {
				width: 70%;
				position: relative;
				margin: 0 auto;
				display: block;
			}

			#info {
				position: relative;
				width: 70%;
				margin: 0 auto;

				#name {
					text-align: center;
				}

				#occupation {
					text-align: center;
					font-size: 1.3em;
				}

				ul#icons {
					width: 100%;
					position: relative;
					margin: 10px 0;
					text-align: center;

					li {
						display: inline-block;
						width: 31%;
						text-align: center;
					}
				}
			}
		}

		&#section2 {
			background-color: $section2Color;
		}

		&#section3 {
			background-color: $section3Color;
		}

		&#section4 {
			background-color: $section4Color;
		}

		&#section5 {
			background-color: $section5Color;
		}
	}

	footer {
		background-color: $black;
		color: $white;
		text-align: center;
		word-break: normal;
		//height: 50px;
		padding: 20px 0;

		& * {
			position: relative;
			display: inline-block;
			min-width: 70%;
			height: auto;
			margin: 10px 0;
		}
	}
}



/*
 * High res computer
 * 960px
 */
@media only screen and (min-width: 651px) {
	$width: 960px;
	$bar-height: 50px;

	.clear {
		clear: both;
	}

	header, section, footer {
		width:100%;
		min-width: $width;
		font-family: $font-stack;

		.container {
			height: auto;
			margin: 0 auto;
			width: $width;
			position: relative;
		}
	}

	header {
		background-color: $black;
		color: $white;
		position: fixed;
		z-index: 10;
		top:0;
		height: $bar-height;
		width:100%;
		border-bottom: 2px $black + #220 solid;

		.container {
			height: $bar-height;
			width: $width;

			ul {
				display: inline-block;
				float: right;
				vertical-align: middle;
				line-height: $bar-height;

				li {
					vertical-align: middle;
					width: 200px;
					display: inline-block;
					text-align:center;
				}
			}
		}
	}

	#main {
		position: relative;
		margin: 0;
		padding: 0;
		height:auto;
		display:block;
		width: 100%;

		section {
			min-height: 100px;
			padding: 250px 0;
			position: relative;
			overflow: hidden;

			p {
				line-height: 1.5em;
				text-indent: 3em;
				letter-spacing: .015em;
				margin: 0 0 20px 0;
				font-family: $font-stack;
				font-size: 22px;
			}

			h2 {
				text-align: center;
				margin: 0 0 50px 0;
			}

			ul {
				margin: 20px 0 0 20px;

				li {
					margin: 10px 0;
				}
			}

			ul.dots {
				list-style-type: disc;

				li ul.dots {
					list-style-type: circle;
				}
			}

			ul.plain {
				list-style-type: none;
			}

			&#section1 {
				background-color: $section1Color;
				color: $black;
				padding: 150px 0;

				#bioLeft {
					width: 34%;
					padding: 0 3%;
					margin: 40px 0;
					position: relative;
					float: left;

					img{
						padding: 0;
						display: block;
						margin: 0 auto;
						position: relative;
					}

					#info {
						width: 100%;
						margin: 20px auto;
						position: relative;
						text-align: center;

						#occupation {
							font-size: 1.3em;
							margin: 10px 0;
						}

						ul#icons {
							display: block;
							margin: 20px auto;
							position: relative;
							width: 100%;

							li {
								display: inline-block;
								margin: 0 15%;

								img{
									position: relative;
									margin: 0 auto;
								}
							}
						}
					}
				}

				#bioRight {
					width: 54%;
					right: 0;
					padding: 0 3%;
					position: relative;
					float: right;
				}
			}

			&#section2 {
				background-color: $section2Color;
				color: $black;
			}

			&#section3 {
				background-color: $section3Color;
				color: $black;
			}

			&#section4 {
				background-color: $section4Color;
				color: $black;
			}

			&#section5 {
				background-color: $section5Color;
				color: $black;
			}
		}
	}

	footer {
		background-color: $black;
		color: $white;
		text-align:center;
		vertical-align: middle;
		padding: 10px 0;

		.container {
			& * {
				display: inline-block;
				position: relative;
				margin: 10px 10px;
				height: auto;
			}
		}
	}
}

