body {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  line-height: 2em;
  letter-spacing: .1em;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1 {
  font-family: Ostrich Sans;
}

h2 {
  font-family: Ostrich Sans;
  font-weight: 900;
  font-size: 3em;
}

p {
  font-family: roboto, sans-serif;
  margin-top: 60px;
  line-height: 2em;
  letter-spacing: .1em;
}
/*
* {
  filter: grayscale();
}*/
